.cards-wrapper {
    background-color: #E8EFF4;
    padding: 40px 0!important;
    max-width: unset!important;
}
.cards > .container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.card-item {
    text-align: center;
    color: #072539;
}
.card-item img {
    width: 100%;
}
.card-content p:first-child {
    font-family: 'PTSerif-Caption'; 
    font-style: italic;
    font-size: 1.25rem;
}
.card-content p:last-child {
    font-size: 14px;
    line-height: 28px;
}