.header-wrapper {
    background-color: #070707;
    padding: 15px 0;
    height: 45px;
}
.header-wrapper .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a {
    color: #ffffff;
    margin-left: 1.5rem;
    text-decoration: none;
}
.nav a:hover {
    color: #4da6ff;
}