.blogs {
    background: url('/images/bg-content.png') center/cover no-repeat;
    background-color: #103f5c;
    padding: 60px 0;
}
.blogs .container {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}
.blogs-list {
    flex: 3;
}
.blog-images {
    flex: 1;
}
.blog-images img,
.blog-images .blog-card {
    width: 100%;
}
.blog-images img {
    border: 4px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 2rem;
}
.blogs-title {
    color: #ffffff;
    font-style: italic;
    font-family: 'PTSerif-Caption';
    font-size: 2.5rem;
    margin-top: 1rem;
}
.blog-item {
    margin-bottom: 2.5rem;
    color: #ffffff;
    text-align: right;
}
.blog-item:last-child {
    margin-bottom: 0;
}
.blog-item p {
    font-size: 1.1rem;
    line-height: 1.75rem;
    margin: 0.5rem 0;
    text-align: left;
}
.blog-item a {
    font-size: 1.1rem;
    color: #4da6ff;
}
.blog-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-details h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.25rem;
}
.blog-details span {
    color: #4da6ff;
}
.blog-card {
    text-align: center;
    padding: 20px 10px;
    background-image: url(/images/spacecraft-dark.jpg);
    margin-top: 60px;
    border-radius: 5px;
}
.blog-card p {
    font-size: 2rem;
    font-style: italic;
    font-family: 'PTSerif-Caption';
    color: #4da6ff;
    margin-top: 0;
}
.blog-card button {
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    padding: 15px;
    cursor: pointer;
    background-color: #2168a4;
}